@media only screen and (max-width: 1140px){
   #navbottom{
       display:none;
   } 
   #navtop{
       display:none;
   }
   #bag2{
       display:block;
   }
}
@media only screen and (min-width:1140px){
    #navbotton{
        display:block;
    }
    #navtop{
        display:block;
    }
    #bag2{
        display:none;
    }
}
#navtop{
    background-color: black;
}
#navbottom{
    background-color: #F3F3F3;
}
#logo{
    margin:0 20px 0 70px;
    background-color:white;
    filter: invert(100%);
}
#bag{
   float:right;
   margin-right:20px;
}
#bag2{
    filter:invert(100%);
    text-align:right;
    margin-top:25px;
    margin-right:30px;
}
#navbotfirstitem{
    margin-left:60px;
}
.header-top{
    margin-top:50px;
}
.header-bottom{
    margin-bottom:50px;
}
#header-gray{
    color:lightgray;
}
.card{
    margin-bottom:20px;
}
.card-img-top{
    width:270px;
    height:270px;
    background-color:#F5F5F5;
}
.price{
    color:crimson;
}
.discount{
    color:gray;
    margin-left:10px;
    text-decoration:line-through;
}
.carousel-caption{
    font-family:'Barlow';
    font-size:43px;
    font-style: normal;
    margin-bottom:40px;
}
#footer-left{
    float:left;
}
#footer-right{
    float:right;
}
